main {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height:fit-content;
    width: 100%;
}

h1 {
    font-family: "Roboto Condensed", sans-serif;
    color: #333;
    font-size: 32px;
    text-align: center;
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    color: #333;
    font-size: 24px;
    margin-top: 20px;
}

p {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

button {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    background-color: #086280;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #086280;
}

nav {
    font-family: "Roboto Condensed", sans-serif;;
    background-color: #086280;
    color: white;
    padding: 10px 0;
    text-align: center;

}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

nav li {
    margin: 0 10px;
    list-style: none;
}

footer {
    background-color: #086280;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;

}

footer p {
    color: white;
    margin: 0;
}

/* Styles for homepage */
.homepage-container {
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
}

.btn {
    font-family: "Roboto Condensed", sans-serif;
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #086280;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

/* Styles for login and register forms */

.login-form, 
.register-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    gap: 10px;
}

.login-form input,
.register-form input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form input:focus,
.register-form input:focus {
    border-color: #0e75c9;
    outline: none;
}

.login-form input:required:invalid,
.register-form input:required:invalid {
    border-color: red;
}

/*Styles for Feed and Profile pages */

.feed-container,
.profile-container {
    max-width: 850px;
    height: fit-content;
    word-wrap: break-word;
    margin: 0 auto;
    padding: 20px;
}

.post-section {
    background-color: white;
    border: #005f5f solid 2px;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 20px;
}

.post-title {
    font-family: "Roboto Condensed", sans-serif;
    color: #073544;
    text-align: left;
    text-decoration: underline;
    margin-bottom: 5px;
}

.edit-post-btn, .delete-post-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #086280;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0 5px 10px 0;
    cursor: pointer;
}

.post-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.pageIndicator {
    font-family: "Roboto Condensed", sans-serif;
    margin: 8px;
    font-size: 16px;
}

.post-meta {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    color: #073057;
}


/*Styles for single post page*/

.post-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: #005f5f solid 2px;
    border-radius: 25px;
}

.back-to-feed-btn {
    display: block;
    margin: 50px auto;
}